# Environment Selection
# Options: staging, preproduction, production
ENVIRONMENT=preprod

# Staging Environment URLs
STAGING_BASE_URL=https://gatotkaca.tiket.com
STAGING_API_URL=https://gatotkaca.tiket.com

# Preproduction Environment URLs
PREPROD_BASE_URL=https://preprod.tiket.com
PREPROD_API_URL=https://preprod.tiket.com

# Production Environment URLs
PROD_BASE_URL=https://tiket.com
PROD_API_URL=https://tiket.com

# Google Sheet
SHEET_ID=1bzSyAVcG_CB4NVLxs-E1PB1UtJBBRsz8DRHSb36Kj38

# Sheet AUTH
SHEET_KEY=[Key here]
SHEET_EMAIL=[Email here]